:root {
  --black-01: #000;
  --black-02: #141414;
  --black-03: #6d6d6d;
  --black-04: #282828;
  --black-05: #bcbec0;
  --black-06: #191919;
  --gray: #f5f5f5;
  --green: #007336;
  --red: #da291c;
  --white: #fff;
}