:root {
	--rem-xxxs: 0.25rem;
	--rem-xxs: 0.5rem;
	--rem-xs: 0.75rem;
	--rem-base: 1rem;
	--rem-sm: 1.25rem;
	--rem-md: 1.5rem;
	--rem-lg: 1.75rem;
	--rem-xl: 2rem;
	--rem-xxl: 2.25rem;
	--rem-xxxl: 2.5rem;
}
