*,
*:before,
*:after {
  box-sizing: border-box;
  letter-spacing: 1px;
  margin: 0;
}

html {
  font-size: 93.75%;
}

body {
  font-family: var(--default-font);
}

img {
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 106.25%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 112.5%;
  }
}
