:root {
  --headings-font: industry-bold, helvetica, arial, sans-serif;
  /* --default-font: roboto-regular, helvetica, arial, sans-serif; */
  --default-font: industry-book, helvetica, arial, sans-serif;
}

h1,
h2,
h3 {
  color: var(--red);
  font-family: var(--headings-font);
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

/* h1 {
  font-size: 2.25rem;
} */

/* h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
} */

button,
input,
label,
li,
p,
select,
span,
textarea {
  font-family: var(--default-font);
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--white);
}

p {
  line-height: 1.75rem;
  padding: 0;
}
