:root {
  --headings-font: industry-bold, helvetica, arial, sans-serif;
  /* --default-font: roboto-regular, helvetica, arial, sans-serif; */
  --default-font: industry-book, helvetica, arial, sans-serif;
}

h1,
h2,
h3 {
  color: var(--red);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h2,
h3 {
  font-weight: 400;
}

h1 {
  /* font-family: var(--headings-font); */
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

/* h3 {
  font-size: 1.5rem;
} */

button,
input,
label,
li,
p,
select,
span,
textarea {
  font-family: var(--default-font);
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--white);
}

p {
  line-height: 1.75rem;
  padding: 0;
}
