.section {
  padding: 6rem 1rem;
}

.p {
  text-align: center;
}

.nav_container {
  display: grid;
  gap: 2rem;
}

@media (min-width: 576px) {
  .section {
    padding: 6rem 2rem;
  }
}

@media (min-width: 768px) {
  .nav_container {
    grid-template-columns: 1fr 1fr;
  }
}
