.section {
  display: flex;
  flex-direction: column;
}

.section:nth-child(3) {
  flex-direction: column-reverse;
}

.article {
  margin: auto;
  padding: 6rem 1rem;
}

/* .h1 { */
/* font-size: 1.5rem; */
/* padding-bottom: 1rem; */
/* text-align: center; */
/* } */

/* .p {
  margin: auto;
} */

.img {
  display: block;
  margin: auto;
  padding-bottom: 1rem;
  width: 8rem;
}

@media (min-width: 768px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section:nth-child(3) {
    flex-direction: initial;
  }

  .article {
    padding: 0 2rem;
  }
}
