.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  /* gap: 8px;
  grid-template-rows: 2px 2px 2px; */
  padding: 0;
}

.span {
  background-color: var(--white);
  margin: 4px 0;
  height: 2px;
  position: relative;
  width: 34px;
}

.span:first-child {
  margin-top: 0;
}

.span:last-child {
  margin-bottom: 0;
}

.top {
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: rotateLeft;
}

.middle {
  display: none;
}

.bottom {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: rotateRight;
}

@keyframes rotateLeft {
  from {
    transform: rotate(initial) translateY(initial);
  }

  to {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(initial) translateY(initial);
  }

  to {
    transform: translateY(-7px) rotate(-45deg);
  }
}
