.header {
  background-color: var(--black-01);
  display: flex;
  margin-top: 4rem;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
}

.img {
  position: relative;
  z-index: 100;
}

.logo_red {
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: -15%;
  top: 0;
  width: 70%;
}
