.header {
  background-color: var(--black-01);
  display: flex;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}

.img {
  position: relative;
  z-index: 100;
}

.logo_red {
  width: 60%;
  position: absolute;
  right: 0;
  top: -50%;
}
