.header {
  background-color: var(--black-01);
  display: flex;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
}

.figure {
  margin: auto;
}

.img {
  position: relative;
  z-index: 100;
}

.logo_red {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
