.section {
  display: flex;
  flex-direction: column;
}

.section:nth-child(3) {
  flex-direction: column-reverse;
}

.article {
  margin: auto;
  padding: 6rem 1rem;
}

.h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.p {
  margin: auto;
}

@media (min-width: 768px) {
  .section {
    flex-direction: row;
  }

  .section:nth-child(3) {
    flex-direction: initial;
  }

  .article {
    width: 50%;
    padding: 0 2rem;
  }
}
