.footer {
  background-color: var(--black-01);
  padding: 1rem;
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 15rem;
  padding: 2rem 0 4rem;
}

@media (min-width: 576px) {
  .footer {
    padding: 2rem;
  }
}
