.link {
  align-items: center;
  color: var(--white);
  display: flex;
  height: 4.75rem;
  font-family: var(--alt-font);
  padding: 0 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #1f1f1f;
}

.nav {
  display: flex;
}
