.article {
  background-color: var(--black-04);
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%),
    0 3px 3px -2px rgb(0 0 0 / 12%);
}

.header {
  padding: 1rem;
}

.h3 {
  padding-bottom: 0;
  text-align: left;
}

.ul {
  padding: 0 1rem 1rem;
}

.li {
  padding-bottom: 1rem;
  list-style: none;
}
