.anchor {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  position: relative;
}

.img,
.p {
  transition: all 0.5s ease;
}

.overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  padding: 1.5rem;
  position: absolute;
  width: 100%;
}

.p {
  border-bottom: 1px solid transparent;
  text-align: center;
  margin: auto;
}

.anchor:hover .img {
  transform: scale(1.15);
}

.anchor:hover .p {
  border-bottom: 1px solid var(--white);
}
