.section {
  background-color: var(--gray);
  padding: 3rem 0;
}

.img {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
  width: 8rem;
}

.h1 {
  text-align: center;
  text-transform: uppercase;
}
